@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

/* nav button */
.nav-button {
  @apply py-1 px-2 border-2 rounded border-black font-semibold;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 1px black;
}

.nav-button:hover {
  background-color: black;
  color: white;
  translate: 3px 3px;
  box-shadow: none;
}
